article.at{
    margin: 25px 150px 0px 150px;
    /* margin: auto; */
    border: 3px solid #585858;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

article p{  
    /* text-align: center; */
    margin-left: 275px;
}
